form {
	border: 2px solid red;
	display: inline-block;
	padding: 10px;
	border: none;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: whitesmoke;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	margin-right: 100px;
}
input {
	margin: 8px;
}
input[type='submit']{
    border: 1px solid black;
    margin-top: 15px;
    padding: 8px 20px;
    box-shadow: 3px 3px #000;
    background-color: #3366ff;
    color: white;
    cursor: pointer;
}
#players_list {
	display: inline-block;
}
img {
	display: inline;
	margin: auto;
	width: 200px;
	height: 150px;
}
h1 {
	display: inline;
}